/**
 * @file
 * CSS for the uc_heidelpay module.
 */

.uc-heidelpay-logo {
  position: relative;
  top: 7px;
}

.uc-heidelpay-card-type {
  margin-right: 4px;
  position: relative;
  top: 8px;
  height: 28px;
}

#uc-heidelpay-review-table {
  display: inline;
  padding-top: 1em;
}
